.table{
  border-style: double;
}


.title{
  text-align: center;
  color: blue;
  padding: 10px;
}


.container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-content: center;
  padding: 20px;
  border: 2px double;
}